<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<div class="container col-md-12" role="navigation">
    <div class="nav navbar navbar-default ">
        <div class="col-md-3">
            <a href="#" class="navbar-header navbar-brand">这里是标题</a>
        </div>
        <div class="col-md-9">
             <span class="glyphicon glyphicon-align-right navbar-brand col-md-2 col-md-offset-10" style="right: auto">我的</span>
        </div>

    </div>

    <div class="col-md-2 navbar-default" >
        <ul class="nav">
            <li><a href="#">发消息</a> </li>
            <li><a href="#"> 数据</a></li>
            <li><a href="#">设置</a> </li>
        </ul>
    </div>
</div>

</body>
</html>